body {
  background-color: #191624;
  color: white;
  font-family: monospace;
  font-size: 1.2rem;
}

h1 {
  margin-bottom: 4rem;
}

section {
  margin-bottom: 0.4rem;
  width: min(90%, 800px);
  margin: 0 auto;
}

li {
  opacity: 0.8;
  padding: 0 15px;
}

.item {
  color: greenyellow;
  list-style: none;
  text-decoration: underline;
  text-decoration-color: greenyellow;
}

video {
  width: min(90%, 1440px);
  height: auto;

  display: block;
  margin: 4rem auto;
}

input,
button {
  width: 100%;
  padding: 0.4rem 0.8rem;
  box-sizing: border-box;
  margin-bottom: 0.4rem;
}

.videoInfo {
  display: flex;
  gap: 0.4rem;
  margin-top: 4rem;

  div {
    flex: 1;
  }
}

.space-around {display: flex;justify-content: space-around;}